<html>
<head>
    <meta charset="utf-8">
    <title>Task_7</title>
    <h1 align="center">Syntax highlighting of programming languages</h1>
</head>
<body>

    <p><h4>Set prog language:</h4></p>
    <p><input name="select" type="radio" value="python" checked>Python</p>
    <p><input name="select" type="radio" value="c#">C#</p>

    <form action="http://127.0.0.1:5000/result" method="POST">
        <p><h4>Set text:</h4> <textarea style="min-height: 300px; min-width: 1000px; overflow:scroll; border: grey solid 1px;" contenteditable="true" cols="50" wrap="soft | hard" name="FormText"></textarea></p>
        <p><button id="submit" type="submit">Send</button></p>
    </form>
</body>
</html>
