<html>
<head>
    <title>Подсветка синтаксиса языков программирования</title>
    <h1 align="center">Подсветка синтаксиса языков программирования</h1>
</head>
<body>

    <p><h4>Выберете язык программирования:</h4></p>

    <p><input name="select" type="radio" value="python" checked>Python</p>
    <p><input name="select" type="radio" value="c#">C#</p>

    <form>
        <p><h4>Введите текст:</h4> <div style="min-height: 370px; overflow:scroll; border: grey solid 1px;" contenteditable="true" id="a"></div></p>
        <p><button id="submit">Подсветить синтаксис</button></p>
        <p><button id="clearButton">Очистить поля ввода</button></p>
    </form>
</body>
</html>